<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
{{- partial "head.html" . -}}

<body dir="{{ .Site.Language.LanguageDirection | default `ltr` }}">
    {{- partial "navbar.html" . -}}
    {{- block "main" . }}{{ end -}}
    {{- if or (eq .Site.Params.footer.enable nil) (.Site.Params.footer.enable) }}
    {{ partial "footer.html" . }}
    {{ end }}
    {{ partial "scripts.html" . }}
    <script
      src="https://cdn.telemetrydeck.com/websdk/telemetrydeck.min.js"
      data-app-id="014DFADC-7B1E-4984-8EFE-8D7D42FF986C"
    ></script>
</body>

</html>
