<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
{{- partial "head.html" . -}}

<body dir="{{ .Site.Language.LanguageDirection | default `ltr` }}">
    {{- partial "navbar.html" . -}}
    {{- block "main" . }}{{ end -}}
    {{- if or (eq .Site.Params.footer.enable nil) (.Site.Params.footer.enable) }}
    {{ partial "footer.html" . }}
    {{ end }}
    {{ partial "scripts.html" . }}
    <script defer src="https://cloud.umami.is/script.js" data-website-id="8d6f8fcd-8e1a-4eb4-8c64-1b32c60e82cd"></script>
</body>

</html>
